# Base de estimativa de População 2018 e 2021

Esse arquivo tem por finalidade organizar a base de estimativas da população do semiarido brasileiro por ano, sexo, uf e tipologia.

### Estado: Alagoas

In [1]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_AL_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_AL_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_AL_2018 = df_IA_AL_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_AL_2018['tipologia'] = 'IA'
df_IA_AL_2018['ano'] = 2018

df_IA_AL_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_AL_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_AL_2021 = df_IA_AL_2021.drop([2, 3, 4])
df_IA_AL_2021['tipologia'] = 'IA'
df_IA_AL_2021['ano'] = 2021


# RURAL ADJACENTE
df_RA_AL_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_AL_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_AL_2018 = df_RA_AL_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_AL_2018['tipologia'] = 'RA'
df_RA_AL_2018['ano'] = 2018

df_RA_AL_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_AL_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_AL_2021 = df_RA_AL_2021.drop([2, 3, 4])
df_RA_AL_2021['tipologia'] = 'RA'
df_RA_AL_2021['ano'] = 2021

# URBANO 
df_U_AL_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_AL_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_AL_2018 = df_U_AL_2018.drop([2, 3, 4]) # excluir as linhas
df_U_AL_2018['tipologia'] = 'U'
df_U_AL_2018['ano'] = 2018

df_U_AL_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_AL_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_AL_2021 = df_U_AL_2021.drop([2, 3, 4])
df_U_AL_2021['tipologia'] = 'U'
df_U_AL_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_AL_2018,df_IA_AL_2021,df_RA_AL_2018,df_RA_AL_2021,df_U_AL_2018,df_U_AL_2021]

# Concatena todos os DataFrames em um único DataFrame
base_alagoas = pd.concat(dataframes, ignore_index=True)
base_alagoas['estado'] = 'AL'
# Exibe as primeiras linhas do DataFrame concatenado
base_alagoas

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,2789.0,2850.0,3015.0,3299.0,3136.0,2630.0,2364.0,2105.0,1831.0,...,1155.0,890.0,742.0,581.0,389.0,378.0,31191.0,IA,2018,AL
1,Feminino,2664.0,2767.0,2949.0,3251.0,3216.0,2870.0,2620.0,2342.0,2117.0,...,1304.0,1085.0,890.0,697.0,484.0,592.0,33367.0,IA,2018,AL
2,Masculino,2741.0,2748.0,2787.0,3001.0,3186.0,2765.0,2457.0,2182.0,1970.0,...,1301.0,989.0,786.0,626.0,436.0,428.0,31549.0,IA,2021,AL
3,Feminino,2615.0,2659.0,2725.0,2936.0,3202.0,2954.0,2747.0,2419.0,2263.0,...,1464.0,1192.0,970.0,774.0,563.0,672.0,33905.0,IA,2021,AL
4,Masculino,22893.0,23785.0,24450.0,25657.0,25041.0,21036.0,18525.0,17131.0,15068.0,...,10151.0,8064.0,6917.0,5642.0,3815.0,3913.0,258035.0,RA,2018,AL
5,Feminino,21857.0,22437.0,23132.0,24990.0,24804.0,22092.0,20118.0,18032.0,15940.0,...,10753.0,8978.0,7713.0,6127.0,4521.0,5365.0,264221.0,RA,2018,AL
6,Masculino,22348.0,22780.0,22800.0,22758.0,24284.0,22176.0,19152.0,17449.0,16285.0,...,11434.0,8821.0,7075.0,5941.0,4211.0,4338.0,258869.0,RA,2021,AL
7,Feminino,21329.0,21478.0,21161.0,21927.0,24095.0,22740.0,20995.0,18831.0,17234.0,...,11969.0,9537.0,8101.0,6569.0,4955.0,6070.0,265754.0,RA,2021,AL
8,Masculino,15258.0,16189.0,17465.0,18821.0,18378.0,15923.0,14872.0,14062.0,12382.0,...,7647.0,5889.0,4995.0,3855.0,2470.0,2489.0,191231.0,U,2018,AL
9,Feminino,14567.0,15589.0,17164.0,18795.0,18663.0,17473.0,17373.0,16494.0,14655.0,...,9390.0,7866.0,6501.0,4869.0,3498.0,4009.0,211463.0,U,2018,AL
10,Masculino,14956.0,15412.0,16630.0,17606.0,18502.0,16573.0,14916.0,14239.0,13256.0,...,8601.0,6379.0,5189.0,4153.0,2810.0,2724.0,193434.0,U,2021,AL
11,Feminino,14265.0,14806.0,16170.0,17615.0,18638.0,17535.0,17275.0,16869.0,15805.0,...,10475.0,8430.0,7036.0,5382.0,3856.0,4585.0,214738.0,U,2021,AL

### Estado: Bahia

In [2]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_BA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_BA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_BA_2018 = df_IA_BA_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_BA_2018['tipologia'] = 'IA'
df_IA_BA_2018['ano'] = 2018

df_IA_BA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_BA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_BA_2021 = df_IA_BA_2021.drop([2, 3, 4])
df_IA_BA_2021['tipologia'] = 'IA'
df_IA_BA_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
df_IR_BA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_BA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_BA_2018 = df_IR_BA_2018.drop([2, 3, 4]) # excluir as linhas
df_IR_BA_2018['tipologia'] = 'IR'
df_IR_BA_2018['ano'] = 2018

df_IR_BA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_BA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_BA_2021 = df_IR_BA_2021.drop([2, 3, 4])
df_IR_BA_2021['tipologia'] = 'IR'
df_IR_BA_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_BA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_BA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_BA_2018 = df_RA_BA_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_BA_2018['tipologia'] = 'RA'
df_RA_BA_2018['ano'] = 2018

df_RA_BA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_BA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_BA_2021 = df_RA_BA_2021.drop([2, 3, 4])
df_RA_BA_2021['tipologia'] = 'RA'
df_RA_BA_2021['ano'] = 2021


# RURAL Remoto
df_RR_BA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_BA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RR_BA_2018 = df_RR_BA_2018.drop([2, 3, 4]) # excluir as linhas
df_RR_BA_2018['tipologia'] = 'RA'
df_RR_BA_2018['ano'] = 2018

df_RR_BA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_BA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RR_BA_2021 = df_RR_BA_2021.drop([2, 3, 4])
df_RR_BA_2021['tipologia'] = 'RA'
df_RR_BA_2021['ano'] = 2021


# URBANO 
df_U_BA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_BA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_BA_2018 = df_U_BA_2018.drop([2, 3, 4]) # excluir as linhas
df_U_BA_2018['tipologia'] = 'U'
df_U_BA_2018['ano'] = 2018

df_U_BA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_BA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_BA_2021 = df_U_BA_2021.drop([2, 3, 4])
df_U_BA_2021['tipologia'] = 'U'
df_U_BA_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_BA_2018,df_IA_BA_2021,df_IR_BA_2018,df_IR_BA_2021,df_RA_BA_2018,df_RA_BA_2021,df_RR_BA_2018,df_RR_BA_2021,df_U_BA_2018,df_U_BA_2021 ]

# Concatena todos os DataFrames em um único DataFrame
base_bahia = pd.concat(dataframes, ignore_index=True)
base_bahia['estado'] = 'BA'
# Exibe as primeiras linhas do DataFrame concatenado
base_bahia

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,38570.0,39784.0,42671.0,44640.0,44197.0,41264.0,39968.0,38451.0,33597.0,...,22661.0,18375.0,14942.0,12113.0,8409.0,9748.0,505922.0,IA,2018,BA
1,Feminino,36809.0,37999.0,40346.0,42498.0,43648.0,42546.0,42079.0,40285.0,34800.0,...,23711.0,19965.0,16750.0,13920.0,10566.0,14555.0,519265.0,IA,2018,BA
2,Masculino,38161.0,38320.0,39501.0,41251.0,41777.0,41068.0,39067.0,38981.0,36164.0,...,24613.0,20164.0,15771.0,12823.0,9147.0,10481.0,506734.0,IA,2021,BA
3,Feminino,36406.0,36408.0,37328.0,38816.0,41055.0,42163.0,41401.0,41669.0,37821.0,...,25617.0,21532.0,17744.0,14870.0,11376.0,16105.0,522660.0,IA,2021,BA
4,Masculino,1065.0,1100.0,1148.0,1194.0,1245.0,1101.0,1075.0,1091.0,906.0,...,570.0,427.0,324.0,274.0,194.0,208.0,13337.0,IR,2018,BA
5,Feminino,1016.0,1017.0,1074.0,1136.0,1188.0,1226.0,1180.0,1064.0,891.0,...,562.0,482.0,389.0,310.0,232.0,310.0,13509.0,IR,2018,BA
6,Masculino,1067.0,1053.0,1108.0,1079.0,1195.0,1124.0,1025.0,1095.0,1027.0,...,619.0,485.0,339.0,273.0,206.0,221.0,13390.0,IR,2021,BA
7,Feminino,1017.0,1006.0,1003.0,1051.0,1101.0,1222.0,1196.0,1133.0,984.0,...,592.0,513.0,414.0,331.0,246.0,339.0,13686.0,IR,2021,BA
8,Masculino,124991.0,128879.0,137000.0,144871.0,146685.0,136480.0,130327.0,124999.0,109084.0,...,76429.0,62062.0,51368.0,42826.0,30138.0,34033.0,1669213.0,RA,2018,BA
9,Feminino,119264.0,121111.0,126665.0,134844.0,140354.0,135339.0,129575.0,122843.0,107218.0,...,75130.0,63633.0,54214.0,46034.0,35121.0,47150.0,1644867.0,RA,2018,BA
10,Masculino,123267.0,123722.0,126018.0,131092.0,136831.0,136657.0,128061.0,127214.0,117392.0,...,83615.0,68105.0,53420.0,44700.0,32630.0,36942.0,1667054.0,RA,2021,BA
11,Feminino,117551.0,116345.0,115389.0,120333.0,130509.0,135427.0,129148.0,126776.0,116076.0,...,81329.0,68210.0,56594.0,48496.0,37747.0,52398.0,1648374.0,RA,2021,BA
12,Masculino,124991.0,128879.0,137000.0,144871.0,146685.0,136480.0,130327.0,124999.0,109084.0,...,76429.0,62062.0,51368.0,42826.0,30138.0,34033.0,1669213.0,RA,2018,BA
13,Feminino,119264.0,121111.0,126665.0,134844.0,140354.0,135339.0,129575.0,122843.0,107218.0,...,75130.0,63633.0,54214.0,46034.0,35121.0,47150.0,1644867.0,RA,2018,BA
14,Masculino,123267.0,123722.0,126018.0,131092.0,136831.0,136657.0,128061.0,127214.0,117392.0,...,83615.0,68105.0,53420.0,44700.0,32630.0,36942.0,1667054.0,RA,2021,BA
15,Feminino,117551.0,116345.0,115389.0,120333.0,130509.0,135427.0,129148.0,126776.0,116076.0,...,81329.0,68210.0,56594.0,48496.0,37747.0,52398.0,1648374.0,RA,2021,BA
16,Masculino,101695.0,104863.0,114617.0,122543.0,120731.0,111347.0,112544.0,109989.0,95266.0,...,57378.0,45125.0,34417.0,26186.0,17885.0,19265.0,1346112.0,U,2018,BA
17,Feminino,97021.0,101160.0,112066.0,120186.0,120790.0,118883.0,123513.0,120818.0,104968.0,...,66463.0,53871.0,42580.0,33509.0,24552.0,31050.0,1442054.0,U,2018,BA
18,Masculino,101797.0,101350.0,109469.0,118178.0,120692.0,111681.0,108220.0,111020.0,102893.0,...,62438.0,50226.0,37695.0,28361.0,19417.0,21106.0,1366126.0,U,2021,BA
19,Feminino,97054.0,97750.0,106709.0,116013.0,119060.0,116641.0,119254.0,123447.0,114161.0,...,73097.0,59787.0,46947.0,36652.0,27177.0,35040.0,1470953.0,U,2021,BA

### Estado: Ceara

In [3]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_CE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_CE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_CE_2018 = df_IA_CE_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_CE_2018['tipologia'] = 'IA'
df_IA_CE_2018['ano'] = 2018

df_IA_CE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_CE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_CE_2021 = df_IA_CE_2021.drop([2, 3, 4])
df_IA_CE_2021['tipologia'] = 'IA'
df_IA_CE_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_CE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_CE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_CE_2018 = df_RA_CE_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_CE_2018['tipologia'] = 'RA'
df_RA_CE_2018['ano'] = 2018

df_RA_CE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_CE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_CE_2021 = df_RA_CE_2021.drop([2, 3, 4])
df_RA_CE_2021['tipologia'] = 'RA'
df_RA_CE_2021['ano'] = 2021



# URBANO 
df_U_CE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_CE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_CE_2018 = df_U_CE_2018.drop([2, 3, 4]) # excluir as linhas
df_U_CE_2018['tipologia'] = 'U'
df_U_CE_2018['ano'] = 2018

df_U_CE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_CE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_CE_2021 = df_U_CE_2021.drop([2, 3, 4])
df_U_CE_2021['tipologia'] = 'U'
df_U_CE_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_CE_2018,df_IA_CE_2021,df_RA_CE_2018,df_RA_CE_2021,df_U_CE_2018,df_U_CE_2021]

# Concatena todos os DataFrames em um único DataFrame
base_ceara = pd.concat(dataframes, ignore_index=True)
base_ceara['estado'] = 'CE'
# Exibe as primeiras linhas do DataFrame concatenado
base_ceara

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,25979.0,25899.0,26922.0,29144.0,31419.0,29369.0,27039.0,24557.0,22138.0,...,16547.0,12541.0,10765.0,8788.0,6270.0,7688.0,344939.0,IA,2018,CE
1,Feminino,24802.0,24670.0,25771.0,28273.0,31048.0,30279.0,28328.0,25611.0,23511.0,...,17863.0,14479.0,12452.0,10193.0,7752.0,10429.0,358265.0,IA,2018,CE
2,Masculino,25783.0,25593.0,25379.0,25597.0,29218.0,29829.0,27992.0,25816.0,23351.0,...,18499.0,14096.0,11071.0,9386.0,6614.0,8155.0,347278.0,IA,2021,CE
3,Feminino,24607.0,24310.0,24042.0,24820.0,28933.0,30417.0,29506.0,26997.0,24753.0,...,19481.0,15877.0,13036.0,11075.0,8116.0,11490.0,361724.0,IA,2021,CE
4,Masculino,110782.0,108294.0,110187.0,118968.0,129726.0,121132.0,108328.0,97679.0,87461.0,...,61416.0,47304.0,41257.0,33632.0,24149.0,28557.0,1380147.0,RA,2018,CE
5,Feminino,105741.0,102680.0,103750.0,113111.0,126254.0,121178.0,109552.0,98310.0,88639.0,...,63409.0,51604.0,45268.0,36584.0,27808.0,36756.0,1385833.0,RA,2018,CE
6,Masculino,110775.0,108237.0,104021.0,103876.0,120004.0,124818.0,113974.0,102681.0,93814.0,...,68784.0,52259.0,42226.0,35738.0,25443.0,30555.0,1395113.0,RA,2021,CE
7,Feminino,105701.0,102166.0,97407.0,98200.0,117084.0,123993.0,116016.0,104104.0,95386.0,...,69985.0,55702.0,46999.0,39525.0,29009.0,40312.0,1403878.0,RA,2021,CE
8,Masculino,91849.0,90601.0,97165.0,108458.0,115025.0,106217.0,100208.0,87965.0,76021.0,...,47506.0,34930.0,28256.0,22074.0,15417.0,17181.0,1164215.0,U,2018,CE
9,Feminino,87691.0,86472.0,92617.0,104429.0,114234.0,110539.0,105849.0,93815.0,82731.0,...,55186.0,42346.0,34851.0,27199.0,19838.0,25860.0,1224275.0,U,2018,CE
10,Masculino,92707.0,90509.0,94424.0,100480.0,113174.0,107505.0,103482.0,93585.0,81967.0,...,53837.0,39858.0,29988.0,23723.0,16486.0,18544.0,1191633.0,U,2021,CE
11,Feminino,88461.0,86580.0,89753.0,96236.0,110977.0,110665.0,109698.0,99850.0,88921.0,...,62233.0,47713.0,37345.0,30022.0,21239.0,28362.0,1255931.0,U,2021,CE

### Estado: Espirito Santos

In [4]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_ES_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_ES_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_ES_2018 = df_IA_ES_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_ES_2018['tipologia'] = 'IA'
df_IA_ES_2018['ano'] = 2018

df_IA_ES_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_ES_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_ES_2021 = df_IA_ES_2021.drop([2, 3, 4])
df_IA_ES_2021['tipologia'] = 'IA'
df_IA_ES_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_ES_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_ES_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_ES_2018 = df_RA_ES_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_ES_2018['tipologia'] = 'RA'
df_RA_ES_2018['ano'] = 2018

df_RA_ES_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_ES_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_ES_2021 = df_RA_ES_2021.drop([2, 3, 4])
df_RA_ES_2021['tipologia'] = 'RA'
df_RA_ES_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_ES_2018,df_IA_ES_2021,df_RA_ES_2018,df_RA_ES_2021]

# Concatena todos os DataFrames em um único DataFrame
base_espiritosantos = pd.concat(dataframes, ignore_index=True)
base_espiritosantos['estado'] = 'ES'
# Exibe as primeiras linhas do DataFrame concatenado
base_espiritosantos

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,1771.0,1711.0,1669.0,1768.0,1846.0,1856.0,1835.0,1874.0,1788.0,...,1415.0,1152.0,860.0,618.0,472.0,609.0,24532.0,IA,2018,ES
1,Feminino,1693.0,1644.0,1602.0,1711.0,1864.0,1876.0,1874.0,1878.0,1799.0,...,1447.0,1206.0,965.0,765.0,626.0,893.0,25100.0,IA,2018,ES
2,Masculino,1733.0,1759.0,1573.0,1577.0,1724.0,1859.0,1818.0,1876.0,1871.0,...,1527.0,1278.0,987.0,688.0,500.0,676.0,24831.0,IA,2021,ES
3,Feminino,1658.0,1655.0,1536.0,1529.0,1762.0,1879.0,1843.0,1877.0,1848.0,...,1538.0,1317.0,1075.0,825.0,666.0,1015.0,25386.0,IA,2021,ES
4,Masculino,2145.0,2042.0,1998.0,2131.0,2242.0,2304.0,2362.0,2391.0,2287.0,...,1948.0,1635.0,1249.0,873.0,653.0,875.0,31501.0,RA,2018,ES
5,Feminino,2051.0,1922.0,1926.0,2156.0,2225.0,2227.0,2379.0,2455.0,2376.0,...,1856.0,1639.0,1294.0,950.0,740.0,1087.0,31435.0,RA,2018,ES
6,Masculino,2077.0,2057.0,1827.0,1852.0,2070.0,2208.0,2281.0,2343.0,2341.0,...,2087.0,1775.0,1421.0,992.0,684.0,962.0,31415.0,RA,2021,ES
7,Feminino,1986.0,1946.0,1730.0,1885.0,2137.0,2149.0,2260.0,2407.0,2440.0,...,1903.0,1724.0,1448.0,1061.0,786.0,1211.0,31401.0,RA,2021,ES

### Estado: Minas Gerais

In [5]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_MG_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_MG_2018 = df_IA_MG_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_MG_2018['tipologia'] = 'IA'
df_IA_MG_2018['ano'] = 2018

df_IA_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_MG_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_MG_2021 = df_IA_MG_2021.drop([2, 3, 4])
df_IA_MG_2021['tipologia'] = 'IA'
df_IA_MG_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
df_IR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_MG_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_MG_2018 = df_IR_MG_2018.drop([2, 3, 4]) # excluir as linhas
df_IR_MG_2018['tipologia'] = 'IR'
df_IR_MG_2018['ano'] = 2018

df_IR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_MG_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_MG_2021 = df_IR_MG_2021.drop([2, 3, 4])
df_IR_MG_2021['tipologia'] = 'IR'
df_IR_MG_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_MG_2018 = df_RA_MG_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_MG_2018['tipologia'] = 'RA'
df_RA_MG_2018['ano'] = 2018

df_RA_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_MG_2021 = df_RA_MG_2021.drop([2, 3, 4])
df_RA_MG_2021['tipologia'] = 'RA'
df_RA_MG_2021['ano'] = 2021


# RURAL Remoto
df_RR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RR_MG_2018 = df_RR_MG_2018.drop([2, 3, 4]) # excluir as linhas
df_RR_MG_2018['tipologia'] = 'RA'
df_RR_MG_2018['ano'] = 2018

df_RR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RR_MG_2021 = df_RR_MG_2021.drop([2, 3, 4])
df_RR_MG_2021['tipologia'] = 'RA'
df_RR_MG_2021['ano'] = 2021


# URBANO 
df_U_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_MG_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_MG_2018 = df_U_MG_2018.drop([2, 3, 4]) # excluir as linhas
df_U_MG_2018['tipologia'] = 'U'
df_U_MG_2018['ano'] = 2018

df_U_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_MG_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_MG_2021 = df_U_MG_2021.drop([2, 3, 4])
df_U_MG_2021['tipologia'] = 'U'
df_U_MG_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_MG_2021,df_IA_MG_2018,df_IR_MG_2021,df_IR_MG_2018,df_RA_MG_2018,df_RA_MG_2021,df_RR_MG_2018,df_RR_MG_2021,df_U_MG_2018,df_U_MG_2021]

# Concatena todos os DataFrames em um único DataFrame
base_minasgerais = pd.concat(dataframes, ignore_index=True)
base_minasgerais['estado'] = 'MG'
# Exibe as primeiras linhas do DataFrame concatenado
base_minasgerais

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,17428.0,17282.0,15879.0,16209.0,18092.0,19859.0,19350.0,18791.0,17371.0,...,13704.0,11365.0,9113.0,7111.0,5225.0,6870.0,243618.0,IA,2021,MG
1,Feminino,16620.0,16443.0,15077.0,15725.0,18055.0,19784.0,19490.0,18660.0,17296.0,...,13693.0,11726.0,10094.0,8061.0,6233.0,9090.0,246481.0,IA,2021,MG
2,Masculino,17687.0,17164.0,17367.0,18526.0,19935.0,19981.0,19070.0,18183.0,16285.0,...,12773.0,10397.0,8395.0,6568.0,4886.0,6154.0,242726.0,IA,2018,MG
3,Feminino,16871.0,16319.0,16541.0,18091.0,19821.0,19989.0,19233.0,18110.0,16411.0,...,12910.0,11090.0,9386.0,7497.0,5916.0,8136.0,246012.0,IA,2018,MG
4,Masculino,2047.0,2032.0,1818.0,1754.0,1922.0,1991.0,1918.0,1820.0,1727.0,...,1450.0,1189.0,956.0,770.0,582.0,775.0,25845.0,IR,2021,MG
5,Feminino,1951.0,1918.0,1673.0,1720.0,1859.0,1983.0,1819.0,1748.0,1646.0,...,1375.0,1171.0,972.0,816.0,654.0,955.0,25309.0,IR,2021,MG
6,Masculino,2078.0,2032.0,2004.0,2070.0,2095.0,1998.0,1871.0,1779.0,1638.0,...,1330.0,1087.0,898.0,726.0,553.0,693.0,25897.0,IR,2018,MG
7,Feminino,1991.0,1906.0,1908.0,1992.0,2033.0,1942.0,1790.0,1724.0,1596.0,...,1294.0,1088.0,919.0,777.0,611.0,863.0,25411.0,IR,2018,MG
8,Masculino,55651.0,53270.0,53270.0,56499.0,60219.0,60372.0,56736.0,52405.0,46010.0,...,35662.0,29091.0,23148.0,17828.0,13073.0,15713.0,710373.0,RA,2018,MG
9,Feminino,53075.0,50043.0,49214.0,53211.0,58774.0,58140.0,53347.0,49514.0,44068.0,...,33671.0,28797.0,24342.0,18890.0,14752.0,19633.0,688886.0,RA,2018,MG
10,Masculino,55177.0,54121.0,48448.0,49022.0,54541.0,60228.0,58624.0,55145.0,49602.0,...,38175.0,31697.0,25137.0,19272.0,13975.0,17623.0,714809.0,RA,2021,MG
11,Feminino,52636.0,51000.0,44666.0,45515.0,53076.0,58964.0,55149.0,51638.0,47074.0,...,35856.0,29965.0,26206.0,20361.0,15514.0,21927.0,691552.0,RA,2021,MG
12,Masculino,55651.0,53270.0,53270.0,56499.0,60219.0,60372.0,56736.0,52405.0,46010.0,...,35662.0,29091.0,23148.0,17828.0,13073.0,15713.0,710373.0,RA,2018,MG
13,Feminino,53075.0,50043.0,49214.0,53211.0,58774.0,58140.0,53347.0,49514.0,44068.0,...,33671.0,28797.0,24342.0,18890.0,14752.0,19633.0,688886.0,RA,2018,MG
14,Masculino,55177.0,54121.0,48448.0,49022.0,54541.0,60228.0,58624.0,55145.0,49602.0,...,38175.0,31697.0,25137.0,19272.0,13975.0,17623.0,714809.0,RA,2021,MG
15,Feminino,52636.0,51000.0,44666.0,45515.0,53076.0,58964.0,55149.0,51638.0,47074.0,...,35856.0,29965.0,26206.0,20361.0,15514.0,21927.0,691552.0,RA,2021,MG
16,Masculino,50990.0,49683.0,51535.0,55948.0,58887.0,58949.0,58592.0,54664.0,47311.0,...,33376.0,27041.0,20802.0,15190.0,10472.0,11952.0,685557.0,U,2018,MG
17,Feminino,48635.0,48019.0,50907.0,55389.0,58930.0,60103.0,60370.0,57227.0,50764.0,...,37309.0,31020.0,24730.0,18691.0,13753.0,18044.0,721126.0,U,2018,MG
18,Masculino,50837.0,50420.0,48767.0,51346.0,56291.0,57970.0,58919.0,57078.0,51464.0,...,35659.0,29739.0,23287.0,17095.0,11685.0,13625.0,697297.0,U,2021,MG
19,Feminino,48490.0,48555.0,48268.0,51214.0,55697.0,58374.0,60136.0,58976.0,54449.0,...,39704.0,33946.0,27665.0,21084.0,15165.0,20523.0,732807.0,U,2021,MG

### Estado: Maranhã

In [6]:
import pandas as pd

#Carrega o arquivo Excel
# df_IA_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_MG_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IA_MG_2018 = df_IA_MG_2018.drop([2, 3, 4]) # excluir as linhas
# df_IA_MG_2018['tipologia'] = 'IA'
# df_IA_MG_2018['ano'] = 2018

# df_IA_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_MG_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IA_MG_2021 = df_IA_MG_2021.drop([2, 3, 4])
# df_IA_MG_2021['tipologia'] = 'IA'
# df_IA_MG_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
# df_IR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_MG_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_MG_2018 = df_IR_MG_2018.drop([2, 3, 4]) # excluir as linhas
# df_IR_MG_2018['tipologia'] = 'IR'
# df_IR_MG_2018['ano'] = 2018

# df_IR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_MG_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_MG_2021 = df_IR_MG_2021.drop([2, 3, 4])
# df_IR_MG_2021['tipologia'] = 'IR'
# df_IR_MG_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_MA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_MA_2018 = df_RA_MA_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_MA_2018['tipologia'] = 'RA'
df_RA_MA_2018['ano'] = 2018

df_RA_MA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_MA_2021 = df_RA_MA_2021.drop([2, 3, 4])
df_RA_MA_2021['tipologia'] = 'RA'
df_RA_MA_2021['ano'] = 2021


# RURAL Remoto
# df_RR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_MG_2018 = df_RR_MG_2018.drop([2, 3, 4]) # excluir as linhas
# df_RR_MG_2018['tipologia'] = 'RA'
# df_RR_MG_2018['ano'] = 2018

# df_RR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_MG_2021 = df_RR_MG_2021.drop([2, 3, 4])
# df_RR_MG_2021['tipologia'] = 'RA'
# df_RR_MG_2021['ano'] = 2021


# URBANO 
df_U_MA_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_MA_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_MA_2018 = df_U_MA_2018.drop([2, 3, 4]) # excluir as linhas
df_U_MA_2018['tipologia'] = 'U'
df_U_MA_2018['ano'] = 2018

df_U_MA_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_MA_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_MA_2021 = df_U_MA_2021.drop([2, 3, 4])
df_U_MA_2021['tipologia'] = 'U'
df_U_MA_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_RA_MA_2018,df_RA_MA_2021,df_U_MA_2018,df_U_MA_2021]

# Concatena todos os DataFrames em um único DataFrame
base_maranha = pd.concat(dataframes, ignore_index=True)
base_maranha['estado'] = 'MA'
# Exibe as primeiras linhas do DataFrame concatenado
base_maranha

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,17510.0,17376.0,18985.0,17908.0,16895.0,14703.0,13930.0,12470.0,10294.0,...,6168.0,5058.0,4204.0,3276.0,2331.0,2646.0,179569.0,RA,2018,MA
1,Feminino,16750.0,16473.0,17783.0,17186.0,16995.0,15267.0,14375.0,12606.0,10046.0,...,6077.0,5248.0,4477.0,3371.0,2504.0,3257.0,177800.0,RA,2018,MA
2,Masculino,17671.0,16922.0,17431.0,17667.0,16836.0,15067.0,14005.0,13209.0,11448.0,...,6671.0,5327.0,4329.0,3366.0,2445.0,2802.0,182319.0,RA,2021,MA
3,Feminino,16884.0,16025.0,16235.0,16758.0,16954.0,15794.0,14793.0,13769.0,11532.0,...,6461.0,5372.0,4704.0,3673.0,2614.0,3622.0,181826.0,RA,2021,MA
4,Masculino,13655.0,14332.0,16952.0,16960.0,16206.0,14144.0,14040.0,12948.0,10761.0,...,6363.0,5167.0,3981.0,2871.0,1955.0,2365.0,169174.0,U,2018,MA
5,Feminino,13095.0,13892.0,16542.0,16350.0,15865.0,14976.0,15205.0,14273.0,12193.0,...,7780.0,6437.0,5184.0,3897.0,2918.0,3948.0,181737.0,U,2018,MA
6,Masculino,13551.0,13629.0,15452.0,16928.0,16505.0,14262.0,13691.0,13409.0,11978.0,...,6836.0,5611.0,4262.0,3140.0,2025.0,2486.0,171498.0,U,2021,MA
7,Feminino,12978.0,13128.0,15043.0,16469.0,15871.0,14737.0,14994.0,14822.0,13569.0,...,8416.0,6953.0,5699.0,4286.0,3138.0,4410.0,185004.0,U,2021,MA

### Estado: Paraíba

In [7]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_PB_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_PB_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_PB_2018 = df_IA_PB_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_PB_2018['tipologia'] = 'IA'
df_IA_PB_2018['ano'] = 2018

df_IA_PB_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_PB_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_PB_2021 = df_IA_PB_2021.drop([2, 3, 4])
df_IA_PB_2021['tipologia'] = 'IA'
df_IA_PB_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
# df_IR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_MG_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_MG_2018 = df_IR_MG_2018.drop([2, 3, 4]) # excluir as linhas
# df_IR_MG_2018['tipologia'] = 'IR'
# df_IR_MG_2018['ano'] = 2018

# df_IR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_MG_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_MG_2021 = df_IR_MG_2021.drop([2, 3, 4])
# df_IR_MG_2021['tipologia'] = 'IR'
# df_IR_MG_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_PB_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PB_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_PB_2018 = df_RA_PB_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_PB_2018['tipologia'] = 'RA'
df_RA_PB_2018['ano'] = 2018

df_RA_PB_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PB_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_PB_2021 = df_RA_PB_2021.drop([2, 3, 4])
df_RA_PB_2021['tipologia'] = 'RA'
df_RA_PB_2021['ano'] = 2021


# RURAL Remoto
# df_RR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_MG_2018 = df_RR_MG_2018.drop([2, 3, 4]) # excluir as linhas
# df_RR_MG_2018['tipologia'] = 'RA'
# df_RR_MG_2018['ano'] = 2018

# df_RR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_MG_2021 = df_RR_MG_2021.drop([2, 3, 4])
# df_RR_MG_2021['tipologia'] = 'RA'
# df_RR_MG_2021['ano'] = 2021


# URBANO 
df_U_PB_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_PB_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_PB_2018 = df_U_PB_2018.drop([2, 3, 4]) # excluir as linhas
df_U_PB_2018['tipologia'] = 'U'
df_U_PB_2018['ano'] = 2018

df_U_PB_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_PB_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_PB_2021 = df_U_PB_2021.drop([2, 3, 4])
df_U_PB_2021['tipologia'] = 'U'
df_U_PB_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_PB_2018,df_IA_PB_2021,df_RA_PB_2018,df_RA_PB_2021,df_U_PB_2018,df_U_PB_2021]

# Concatena todos os DataFrames em um único DataFrame
base_paraiba = pd.concat(dataframes, ignore_index=True)
base_paraiba['estado'] = 'PB'
# Exibe as primeiras linhas do DataFrame concatenado
base_paraiba

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,13080.0,12662.0,14147.0,14567.0,14542.0,14183.0,13780.0,12997.0,11606.0,...,8095.0,6197.0,5315.0,4314.0,3125.0,3835.0,172605.0,IA,2018,PB
1,Feminino,12449.0,12010.0,13409.0,14129.0,14447.0,14385.0,14246.0,13681.0,12394.0,...,8956.0,7335.0,6490.0,5468.0,4245.0,5590.0,180694.0,IA,2018,PB
2,Masculino,12972.0,12489.0,13119.0,13630.0,13837.0,13950.0,13805.0,13405.0,12444.0,...,9078.0,6894.0,5485.0,4557.0,3276.0,4056.0,173875.0,IA,2021,PB
3,Feminino,12345.0,11861.0,12323.0,13063.0,13754.0,14113.0,14207.0,14026.0,13267.0,...,9788.0,7956.0,6650.0,5796.0,4386.0,6086.0,181984.0,IA,2021,PB
4,Masculino,43098.0,41370.0,45811.0,47020.0,47080.0,45813.0,42955.0,39866.0,36243.0,...,25234.0,19772.0,17446.0,14499.0,10550.0,12676.0,552273.0,RA,2018,PB
5,Feminino,41021.0,38788.0,42557.0,44856.0,46191.0,45780.0,43602.0,40690.0,36881.0,...,26474.0,22216.0,20067.0,17024.0,13108.0,16521.0,560690.0,RA,2018,PB
6,Masculino,42882.0,41065.0,42130.0,43620.0,44296.0,45447.0,43839.0,41277.0,38511.0,...,28180.0,21774.0,17673.0,15268.0,11015.0,13588.0,556555.0,RA,2021,PB
7,Feminino,40821.0,38606.0,38746.0,41016.0,43585.0,45477.0,44557.0,42371.0,39362.0,...,28904.0,23669.0,20304.0,17977.0,13623.0,18200.0,565140.0,RA,2021,PB
8,Masculino,37542.0,36605.0,42448.0,45589.0,45099.0,42489.0,41973.0,40073.0,35238.0,...,22630.0,17346.0,14352.0,11092.0,7660.0,8976.0,507779.0,U,2018,PB
9,Feminino,35715.0,34698.0,40576.0,44524.0,45045.0,44821.0,45599.0,43769.0,39511.0,...,27528.0,22237.0,19105.0,15446.0,11508.0,14670.0,552873.0,U,2018,PB
10,Masculino,37350.0,36035.0,39735.0,43837.0,44847.0,42128.0,41068.0,40910.0,37679.0,...,25024.0,19275.0,15050.0,12099.0,8126.0,9570.0,513809.0,U,2021,PB
11,Feminino,35534.0,34334.0,37715.0,42493.0,44331.0,43555.0,44848.0,44681.0,41977.0,...,30358.0,24411.0,19922.0,16841.0,12085.0,16101.0,560019.0,U,2021,PB

### Estado: Pernambuco

In [8]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_PE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_PE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_PE_2018 = df_IA_PE_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_PE_2018['tipologia'] = 'IA'
df_IA_PE_2018['ano'] = 2018

df_IA_PE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_PE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_PE_2021 = df_IA_PE_2021.drop([2, 3, 4])
df_IA_PE_2021['tipologia'] = 'IA'
df_IA_PE_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
df_IR_PE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_PE_2018 = df_IR_PE_2018.drop([2, 3, 4]) # excluir as linhas
df_IR_PE_2018['tipologia'] = 'IR'
df_IR_PE_2018['ano'] = 2018

df_IR_PE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_PE_2021 = df_IR_PE_2021.drop([2, 3, 4])
df_IR_PE_2021['tipologia'] = 'IR'
df_IR_PE_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_PE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_PE_2018 = df_RA_PE_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_PE_2018['tipologia'] = 'RA'
df_RA_PE_2018['ano'] = 2018

df_RA_PE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_PE_2021 = df_RA_PE_2021.drop([2, 3, 4])
df_RA_PE_2021['tipologia'] = 'RA'
df_RA_PE_2021['ano'] = 2021


# RURAL Remoto
# df_RR_MG_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_MG_2018 = df_RR_MG_2018.drop([2, 3, 4]) # excluir as linhas
# df_RR_MG_2018['tipologia'] = 'RA'
# df_RR_MG_2018['ano'] = 2018

# df_RR_MG_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_MG_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_MG_2021 = df_RR_MG_2021.drop([2, 3, 4])
# df_RR_MG_2021['tipologia'] = 'RA'
# df_RR_MG_2021['ano'] = 2021


# URBANO 
df_U_PE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_PE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_PE_2018 = df_U_PE_2018.drop([2, 3, 4]) # excluir as linhas
df_U_PE_2018['tipologia'] = 'U'
df_U_PE_2018['ano'] = 2018

df_U_PE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_PE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_PE_2021 = df_U_PE_2021.drop([2, 3, 4])
df_U_PE_2021['tipologia'] = 'U'
df_U_PE_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_PE_2018,df_IA_PE_2021,df_IR_PE_2018,df_IR_PE_2021,df_RA_PE_2018,df_RA_PE_2021,df_U_PE_2018,df_U_PE_2021]

# Concatena todos os DataFrames em um único DataFrame
base_pernambuco = pd.concat(dataframes, ignore_index=True)
base_pernambuco['estado'] = 'PE'
# Exibe as primeiras linhas do DataFrame concatenado
base_pernambuco

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,42409.0,42208.0,42712.0,44679.0,43882.0,40497.0,39217.0,35358.0,30918.0,...,19756.0,15631.0,12843.0,10301.0,7191.0,8152.0,486617.0,IA,2018,PE
1,Feminino,40481.0,40408.0,41042.0,43016.0,43472.0,41687.0,40539.0,37048.0,32781.0,...,21408.0,17572.0,15029.0,12229.0,9094.0,11073.0,502056.0,IA,2018,PE
2,Masculino,41905.0,42124.0,40866.0,41625.0,43668.0,40618.0,39764.0,37242.0,33264.0,...,21901.0,17345.0,13483.0,10969.0,7722.0,8915.0,495779.0,IA,2021,PE
3,Feminino,39965.0,40062.0,38987.0,39821.0,42740.0,41575.0,41280.0,38789.0,35363.0,...,23654.0,18896.0,15660.0,13038.0,9706.0,12415.0,510652.0,IA,2021,PE
4,Masculino,228.0,224.0,245.0,257.0,223.0,189.0,184.0,164.0,148.0,...,95.0,67.0,47.0,34.0,25.0,28.0,2409.0,IR,2018,PE
5,Feminino,218.0,217.0,229.0,225.0,194.0,190.0,202.0,183.0,163.0,...,102.0,72.0,73.0,60.0,42.0,48.0,2460.0,IR,2018,PE
6,Masculino,227.0,224.0,230.0,261.0,253.0,184.0,183.0,172.0,162.0,...,106.0,80.0,53.0,40.0,23.0,33.0,2494.0,IR,2021,PE
7,Feminino,217.0,211.0,222.0,225.0,207.0,173.0,198.0,185.0,181.0,...,120.0,81.0,72.0,69.0,45.0,57.0,2519.0,IR,2021,PE
8,Masculino,60168.0,60354.0,60312.0,61192.0,60502.0,56658.0,53533.0,48357.0,42482.0,...,28595.0,22965.0,19777.0,16267.0,11260.0,13068.0,687190.0,RA,2018,PE
9,Feminino,57464.0,56765.0,56356.0,58455.0,59174.0,56903.0,54671.0,49483.0,43969.0,...,30023.0,25123.0,22140.0,18289.0,13771.0,17265.0,695472.0,RA,2018,PE
10,Masculino,59138.0,59675.0,57367.0,56410.0,58526.0,56818.0,54700.0,50584.0,45797.0,...,31890.0,25209.0,20297.0,17288.0,12222.0,14223.0,696060.0,RA,2021,PE
11,Feminino,56431.0,56301.0,52943.0,53074.0,57180.0,56463.0,55986.0,52004.0,47230.0,...,32886.0,26518.0,22657.0,19308.0,14529.0,19145.0,702560.0,RA,2021,PE
12,Masculino,89471.0,91561.0,96549.0,102703.0,102225.0,94826.0,92555.0,85368.0,75255.0,...,44217.0,33849.0,26869.0,20739.0,14029.0,15439.0,1104563.0,U,2018,PE
13,Feminino,85415.0,88052.0,93532.0,99939.0,101969.0,99666.0,99710.0,93962.0,84493.0,...,53678.0,42743.0,35250.0,27880.0,20320.0,24890.0,1191085.0,U,2018,PE
14,Masculino,88672.0,90970.0,94336.0,99504.0,104190.0,96084.0,93132.0,88485.0,80675.0,...,49079.0,37924.0,28605.0,22473.0,15152.0,16903.0,1133774.0,U,2021,PE
15,Feminino,84615.0,87390.0,91184.0,96321.0,102043.0,99002.0,99918.0,96854.0,90125.0,...,59802.0,47113.0,37528.0,30307.0,21877.0,27883.0,1220781.0,U,2021,PE

### Estado: Piaui

In [9]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_PI_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_PI_2018 = df_IA_PI_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_PI_2018['tipologia'] = 'IA'
df_IA_PI_2018['ano'] = 2018

df_IA_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_PI_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_PI_2021 = df_IA_PI_2021.drop([2, 3, 4])
df_IA_PI_2021['tipologia'] = 'IA'
df_IA_PI_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
df_IR_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PI_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_PI_2018 = df_IR_PI_2018.drop([2, 3, 4]) # excluir as linhas
df_IR_PI_2018['tipologia'] = 'IR'
df_IR_PI_2018['ano'] = 2018

df_IR_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PI_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IR_PI_2021 = df_IR_PI_2021.drop([2, 3, 4])
df_IR_PI_2021['tipologia'] = 'IR'
df_IR_PI_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_PI_2018 = df_RA_PI_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_PI_2018['tipologia'] = 'RA'
df_RA_PI_2018['ano'] = 2018

df_RA_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_PI_2021 = df_RA_PI_2021.drop([2, 3, 4])
df_RA_PI_2021['tipologia'] = 'RA'
df_RA_PI_2021['ano'] = 2021


# RURAL Remoto
df_RR_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RR_PI_2018 = df_RR_PI_2018.drop([2, 3, 4]) # excluir as linhas
df_RR_PI_2018['tipologia'] = 'RA'
df_RR_PI_2018['ano'] = 2018

df_RR_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RR_PI_2021 = df_RR_PI_2021.drop([2, 3, 4])
df_RR_PI_2021['tipologia'] = 'RA'
df_RR_PI_2021['ano'] = 2021


# URBANO 
df_U_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_PI_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_PI_2018 = df_U_PI_2018.drop([2, 3, 4]) # excluir as linhas
df_U_PI_2018['tipologia'] = 'U'
df_U_PI_2018['ano'] = 2018

df_U_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_PI_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_PI_2021 = df_U_PI_2021.drop([2, 3, 4])
df_U_PI_2021['tipologia'] = 'U'
df_U_PI_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_PI_2018,df_IA_PI_2021,df_IR_PI_2018,df_IR_PI_2021,df_RA_PI_2018,df_RA_PI_2021,df_RR_PI_2018,df_RR_PI_2021,df_U_PI_2018,df_U_PI_2021]

# Concatena todos os DataFrames em um único DataFrame
base_piaui = pd.concat(dataframes, ignore_index=True)
base_piaui['estado'] = 'PI'
# Exibe as primeiras linhas do DataFrame concatenado
base_piaui

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,13101.0,13184.0,14435.0,15524.0,15083.0,13558.0,12894.0,12088.0,10604.0,...,7062.0,5815.0,4749.0,3709.0,2574.0,2666.0,164559.0,IA,2018,PI
1,Feminino,12508.0,12713.0,14187.0,15385.0,14863.0,14202.0,14053.0,12938.0,11394.0,...,8055.0,6810.0,5530.0,4187.0,3098.0,3778.0,172682.0,IA,2018,PI
2,Masculino,13044.0,12834.0,13320.0,14324.0,14894.0,13703.0,12776.0,12309.0,11429.0,...,7595.0,6253.0,4998.0,3890.0,2719.0,2773.0,165289.0,IA,2021,PI
3,Feminino,12451.0,12387.0,12956.0,14239.0,14787.0,13857.0,14087.0,13357.0,12343.0,...,8606.0,7334.0,5988.0,4613.0,3243.0,4121.0,174394.0,IA,2021,PI
4,Masculino,2078.0,1997.0,2169.0,2416.0,2278.0,1963.0,1958.0,1840.0,1466.0,...,942.0,724.0,562.0,420.0,280.0,296.0,23789.0,IR,2018,PI
5,Feminino,1985.0,2000.0,2243.0,2410.0,2299.0,2117.0,1997.0,1801.0,1483.0,...,974.0,765.0,640.0,462.0,326.0,409.0,24243.0,IR,2018,PI
6,Masculino,2104.0,1986.0,1983.0,2245.0,2346.0,1995.0,1870.0,1901.0,1629.0,...,1009.0,788.0,587.0,449.0,288.0,301.0,23959.0,IR,2021,PI
7,Feminino,2009.0,1956.0,2052.0,2286.0,2325.0,2146.0,2008.0,1892.0,1656.0,...,1044.0,802.0,670.0,512.0,336.0,430.0,24558.0,IR,2021,PI
8,Masculino,46454.0,46299.0,50743.0,55053.0,52556.0,46681.0,44261.0,41844.0,37750.0,...,26294.0,21075.0,17486.0,13752.0,9554.0,9754.0,584186.0,RA,2018,PI
9,Feminino,44355.0,43824.0,47424.0,51953.0,51178.0,47522.0,45477.0,43076.0,38743.0,...,27442.0,23389.0,19663.0,15038.0,11171.0,13043.0,588377.0,RA,2018,PI
10,Masculino,46353.0,45413.0,46033.0,50158.0,52004.0,47060.0,44035.0,42289.0,40420.0,...,28671.0,22696.0,18107.0,14383.0,9977.0,10191.0,585324.0,RA,2021,PI
11,Feminino,44245.0,42902.0,42859.0,47063.0,50870.0,47752.0,45906.0,43986.0,42101.0,...,29440.0,24711.0,20963.0,16391.0,11737.0,14381.0,594023.0,RA,2021,PI
12,Masculino,46454.0,46299.0,50743.0,55053.0,52556.0,46681.0,44261.0,41844.0,37750.0,...,26294.0,21075.0,17486.0,13752.0,9554.0,9754.0,584186.0,RA,2018,PI
13,Feminino,44355.0,43824.0,47424.0,51953.0,51178.0,47522.0,45477.0,43076.0,38743.0,...,27442.0,23389.0,19663.0,15038.0,11171.0,13043.0,588377.0,RA,2018,PI
14,Masculino,46353.0,45413.0,46033.0,50158.0,52004.0,47060.0,44035.0,42289.0,40420.0,...,28671.0,22696.0,18107.0,14383.0,9977.0,10191.0,585324.0,RA,2021,PI
15,Feminino,44245.0,42902.0,42859.0,47063.0,50870.0,47752.0,45906.0,43986.0,42101.0,...,29440.0,24711.0,20963.0,16391.0,11737.0,14381.0,594023.0,RA,2021,PI
16,Masculino,46023.0,48043.0,56004.0,63247.0,61120.0,55289.0,56039.0,52365.0,45674.0,...,27995.0,21892.0,16644.0,11678.0,7411.0,7226.0,648548.0,U,2018,PI
17,Feminino,43952.0,46749.0,55860.0,62697.0,61106.0,60698.0,64687.0,61877.0,54978.0,...,37057.0,30250.0,23500.0,16699.0,11407.0,14161.0,735486.0,U,2018,PI
18,Masculino,45520.0,46121.0,52738.0,60345.0,63120.0,53879.0,53841.0,52907.0,48877.0,...,29610.0,23762.0,18037.0,12930.0,7952.0,7532.0,652477.0,U,2021,PI
19,Feminino,43460.0,44874.0,52485.0,60271.0,61880.0,56716.0,62033.0,62614.0,59111.0,...,39790.0,33456.0,26470.0,19398.0,12578.0,15444.0,744738.0,U,2021,PI

### Estado: Rio Grande do Norte

In [10]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_RN_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_RN_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_RN_2018 = df_IA_RN_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_RN_2018['tipologia'] = 'IA'
df_IA_RN_2018['ano'] = 2018

df_IA_RN_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_RN_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_RN_2021 = df_IA_RN_2021.drop([2, 3, 4])
df_IA_RN_2021['tipologia'] = 'IA'
df_IA_RN_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
# df_IR_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PI_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_PI_2018 = df_IR_PI_2018.drop([2, 3, 4]) # excluir as linhas
# df_IR_PI_2018['tipologia'] = 'IR'
# df_IR_PI_2018['ano'] = 2018

# df_IR_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PI_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_PI_2021 = df_IR_PI_2021.drop([2, 3, 4])
# df_IR_PI_2021['tipologia'] = 'IR'
# df_IR_PI_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_RN_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_RN_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_RN_2018 = df_RA_RN_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_RN_2018['tipologia'] = 'RA'
df_RA_RN_2018['ano'] = 2018

df_RA_RN_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_RN_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_RN_2021 = df_RA_RN_2021.drop([2, 3, 4])
df_RA_RN_2021['tipologia'] = 'RA'
df_RA_RN_2021['ano'] = 2021


# RURAL Remoto
# df_RR_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_PI_2018 = df_RR_PI_2018.drop([2, 3, 4]) # excluir as linhas
# df_RR_PI_2018['tipologia'] = 'RA'
# df_RR_PI_2018['ano'] = 2018

# df_RR_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_PI_2021 = df_RR_PI_2021.drop([2, 3, 4])
# df_RR_PI_2021['tipologia'] = 'RA'
# df_RR_PI_2021['ano'] = 2021


# URBANO 
df_U_RN_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_RN_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_RN_2018 = df_U_RN_2018.drop([2, 3, 4]) # excluir as linhas
df_U_RN_2018['tipologia'] = 'U'
df_U_RN_2018['ano'] = 2018

df_U_RN_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_RN_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_RN_2021 = df_U_RN_2021.drop([2, 3, 4])
df_U_RN_2021['tipologia'] = 'U'
df_U_RN_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_RN_2018,df_IA_RN_2021,df_RA_RN_2018,df_RA_RN_2021,df_U_RN_2018,df_U_RN_2021]

# Concatena todos os DataFrames em um único DataFrame
base_riograndedonorte = pd.concat(dataframes, ignore_index=True)
base_riograndedonorte['estado'] = 'RN'
# Exibe as primeiras linhas do DataFrame concatenado
base_riograndedonorte

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,14805.0,15260.0,16014.0,16608.0,17280.0,17381.0,17270.0,15334.0,13344.0,...,9788.0,7005.0,5757.0,4816.0,3353.0,4155.0,202678.0,IA,2018,RN
1,Feminino,14181.0,14468.0,15050.0,16003.0,17079.0,17227.0,16929.0,15450.0,13867.0,...,10556.0,7871.0,6809.0,5825.0,4209.0,5914.0,206977.0,IA,2018,RN
2,Masculino,14455.0,14861.0,15121.0,15612.0,16499.0,16872.0,17454.0,16429.0,14240.0,...,11177.0,8231.0,5948.0,5150.0,3575.0,4442.0,205238.0,IA,2021,RN
3,Feminino,13836.0,14132.0,14111.0,14787.0,16302.0,16845.0,17172.0,16304.0,14749.0,...,11840.0,9041.0,6951.0,6308.0,4546.0,6504.0,209607.0,IA,2021,RN
4,Masculino,30610.0,31132.0,32356.0,33738.0,35045.0,34988.0,34299.0,30478.0,26348.0,...,18656.0,13392.0,11408.0,9763.0,6890.0,8470.0,404594.0,RA,2018,RN
5,Feminino,29300.0,29601.0,30485.0,31588.0,33180.0,33811.0,32816.0,29350.0,25998.0,...,19043.0,14498.0,12709.0,11049.0,8136.0,11050.0,400033.0,RA,2018,RN
6,Masculino,30045.0,30582.0,30381.0,31459.0,33380.0,34052.0,34767.0,32639.0,28553.0,...,21430.0,15572.0,11538.0,10311.0,7302.0,9069.0,409759.0,RA,2021,RN
7,Feminino,28738.0,28977.0,28409.0,29504.0,31477.0,33170.0,33610.0,31452.0,27787.0,...,21346.0,16377.0,12831.0,11744.0,8730.0,12210.0,405595.0,RA,2021,RN
8,Masculino,26797.0,27839.0,29520.0,31395.0,33048.0,33234.0,33874.0,30291.0,25872.0,...,16996.0,11798.0,9049.0,7302.0,4801.0,5496.0,371931.0,U,2018,RN
9,Feminino,25662.0,26992.0,28788.0,30254.0,32155.0,33360.0,34163.0,31117.0,27352.0,...,19715.0,14516.0,11876.0,9691.0,6854.0,9287.0,390935.0,U,2018,RN
10,Masculino,26404.0,27352.0,28677.0,30349.0,32741.0,32524.0,34161.0,32491.0,28214.0,...,19330.0,14142.0,9593.0,7925.0,5290.0,5946.0,381385.0,U,2021,RN
11,Feminino,25265.0,26361.0,28069.0,29328.0,31532.0,32196.0,34389.0,32916.0,29555.0,...,22345.0,16996.0,12621.0,10761.0,7532.0,10349.0,400803.0,U,2021,RN

### Estado: Sergipe

In [11]:
import pandas as pd

#Carrega o arquivo Excel
df_IA_SE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_SE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_SE_2018 = df_IA_SE_2018.drop([2, 3, 4]) # excluir as linhas
df_IA_SE_2018['tipologia'] = 'IA'
df_IA_SE_2018['ano'] = 2018

df_IA_SE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IA/IntermediarioAdjacente_SE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_IA_SE_2021 = df_IA_SE_2021.drop([2, 3, 4])
df_IA_SE_2021['tipologia'] = 'IA'
df_IA_SE_2021['ano'] = 2021



# INTERMEDIARIO REMOTO
# df_IR_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PI_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_PI_2018 = df_IR_PI_2018.drop([2, 3, 4]) # excluir as linhas
# df_IR_PI_2018['tipologia'] = 'IR'
# df_IR_PI_2018['ano'] = 2018

# df_IR_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/IR/IntermediarioRemoto_PI_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_IR_PI_2021 = df_IR_PI_2021.drop([2, 3, 4])
# df_IR_PI_2021['tipologia'] = 'IR'
# df_IR_PI_2021['ano'] = 2021



# RURAL ADJACENTE
df_RA_SE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_SE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_SE_2018 = df_RA_SE_2018.drop([2, 3, 4]) # excluir as linhas
df_RA_SE_2018['tipologia'] = 'RA'
df_RA_SE_2018['ano'] = 2018

df_RA_SE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_SE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_RA_SE_2021 = df_RA_SE_2021.drop([2, 3, 4])
df_RA_SE_2021['tipologia'] = 'RA'
df_RA_SE_2021['ano'] = 2021


# RURAL Remoto
# df_RR_PI_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2018.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_PI_2018 = df_RR_PI_2018.drop([2, 3, 4]) # excluir as linhas
# df_RR_PI_2018['tipologia'] = 'RA'
# df_RR_PI_2018['ano'] = 2018

# df_RR_PI_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/RA/RuralAdjacente_PI_2021.csv'
#                 ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
# df_RR_PI_2021 = df_RR_PI_2021.drop([2, 3, 4])
# df_RR_PI_2021['tipologia'] = 'RA'
# df_RR_PI_2021['ano'] = 2021


# URBANO 
df_U_SE_2018 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_SE_2018.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_SE_2018 = df_U_SE_2018.drop([2, 3, 4]) # excluir as linhas
df_U_SE_2018['tipologia'] = 'U'
df_U_SE_2018['ano'] = 2018

df_U_SE_2021 = pd.read_csv('../2_dados extraidos/população residente/separado por tipologia/U/Urbano_SE_2021.csv'
                ,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
df_U_SE_2021 = df_U_SE_2021.drop([2, 3, 4])
df_U_SE_2021['tipologia'] = 'U'
df_U_SE_2021['ano'] = 2021



# Lista com todos os DataFrames
dataframes = [df_IA_SE_2018,df_IA_SE_2021,df_RA_SE_2018,df_RA_SE_2021,df_U_SE_2018,df_U_SE_2021]

# Concatena todos os DataFrames em um único DataFrame
base_sergipe = pd.concat(dataframes, ignore_index=True)
base_sergipe['estado'] = 'SE'
# Exibe as primeiras linhas do DataFrame concatenado
base_sergipe

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,7859.0,7836.0,8201.0,9032.0,9402.0,8616.0,8069.0,7313.0,6605.0,...,4190.0,3280.0,2679.0,2085.0,1348.0,1462.0,99221.0,IA,2018,SE
1,Feminino,7508.0,7570.0,7986.0,8792.0,9441.0,9144.0,8663.0,7772.0,6992.0,...,4436.0,3500.0,3008.0,2393.0,1741.0,2151.0,102933.0,IA,2018,SE
2,Masculino,7893.0,7835.0,7716.0,8217.0,9271.0,8858.0,8411.0,7626.0,7026.0,...,4785.0,3685.0,2813.0,2268.0,1496.0,1571.0,101429.0,IA,2021,SE
3,Feminino,7536.0,7489.0,7545.0,7989.0,9197.0,9310.0,9129.0,8219.0,7477.0,...,5113.0,3824.0,3156.0,2574.0,1908.0,2364.0,105480.0,IA,2021,SE
4,Masculino,8076.0,8013.0,8108.0,8676.0,9214.0,8456.0,7656.0,6905.0,6328.0,...,3880.0,3109.0,2674.0,2053.0,1304.0,1374.0,96516.0,RA,2018,SE
5,Feminino,7715.0,7577.0,7654.0,8175.0,8735.0,8421.0,7806.0,6950.0,6377.0,...,3966.0,3230.0,2785.0,2110.0,1466.0,1813.0,95758.0,RA,2018,SE
6,Masculino,8032.0,7920.0,7752.0,7742.0,8836.0,8707.0,8025.0,7145.0,6667.0,...,4454.0,3385.0,2783.0,2242.0,1482.0,1486.0,98033.0,RA,2021,SE
7,Feminino,7664.0,7475.0,7205.0,7347.0,8394.0,8512.0,8246.0,7273.0,6751.0,...,4534.0,3447.0,2934.0,2353.0,1615.0,1999.0,97480.0,RA,2021,SE
8,Masculino,6767.0,6947.0,7379.0,8003.0,8523.0,7914.0,7331.0,6730.0,5945.0,...,4005.0,3073.0,2456.0,1835.0,1225.0,1293.0,89927.0,U,2018,SE
9,Feminino,6472.0,6581.0,6999.0,7823.0,8592.0,8417.0,7992.0,7216.0,6498.0,...,4548.0,3553.0,2824.0,2194.0,1645.0,2004.0,95051.0,U,2018,SE
10,Masculino,6736.0,6798.0,6991.0,7318.0,8218.0,8158.0,7578.0,7070.0,6378.0,...,4549.0,3420.0,2657.0,1989.0,1362.0,1394.0,91518.0,U,2021,SE
11,Feminino,6432.0,6498.0,6563.0,7088.0,8223.0,8599.0,8364.0,7681.0,6855.0,...,5138.0,3972.0,3078.0,2361.0,1764.0,2222.0,97114.0,U,2021,SE

---------------------------------------------------

## Juntando todos os estdo em um unica base

In [12]:
# Lista com todos os DataFrames
dataframes = [base_alagoas,base_bahia,base_ceara,base_espiritosantos,base_minasgerais,base_maranha,
             base_paraiba,base_pernambuco,base_piaui,base_riograndedonorte,base_sergipe]

# Concatena todos os DataFrames em um único DataFrame
base_final = pd.concat(dataframes, ignore_index=True)
# Exibe as primeiras linhas do DataFrame concatenado
base_final

,Sexo,De 0 a 4 anos,De 5 a 9 anos,De 10 a 14 anos,De 15 a 19 anos,De 20 a 24 anos,De 25 a 29 anos,De 30 a 34 anos,De 35 a 39 anos,De 40 a 44 anos,...,De 55 a 59 anos,De 60 a 64 anos,De 65 a 69 anos,De 70 a 74 anos,De 75 a 79 anos,De 80 anos ou mais,Total,tipologia,ano,estado
0,Masculino,2789.0,2850.0,3015.0,3299.0,3136.0,2630.0,2364.0,2105.0,1831.0,...,1155.0,890.0,742.0,581.0,389.0,378.0,31191.0,IA,2018,AL
1,Feminino,2664.0,2767.0,2949.0,3251.0,3216.0,2870.0,2620.0,2342.0,2117.0,...,1304.0,1085.0,890.0,697.0,484.0,592.0,33367.0,IA,2018,AL
2,Masculino,2741.0,2748.0,2787.0,3001.0,3186.0,2765.0,2457.0,2182.0,1970.0,...,1301.0,989.0,786.0,626.0,436.0,428.0,31549.0,IA,2021,AL
3,Feminino,2615.0,2659.0,2725.0,2936.0,3202.0,2954.0,2747.0,2419.0,2263.0,...,1464.0,1192.0,970.0,774.0,563.0,672.0,33905.0,IA,2021,AL
4,Masculino,22893.0,23785.0,24450.0,25657.0,25041.0,21036.0,18525.0,17131.0,15068.0,...,10151.0,8064.0,6917.0,5642.0,3815.0,3913.0,258035.0,RA,2018,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Feminino,7664.0,7475.0,7205.0,7347.0,8394.0,8512.0,8246.0,7273.0,6751.0,...,4534.0,3447.0,2934.0,2353.0,1615.0,1999.0,97480.0,RA,2021,SE
148,Masculino,6767.0,6947.0,7379.0,8003.0,8523.0,7914.0,7331.0,6730.0,5945.0,...,4005.0,3073.0,2456.0,1835.0,1225.0,1293.0,89927.0,U,2018,SE
149,Feminino,6472.0,6581.0,6999.0,7823.0,8592.0,8417.0,7992.0,7216.0,6498.0,...,4548.0,3553.0,2824.0,2194.0,1645.0,2004.0,95051.0,U,2018,SE
150,Masculino,6736.0,6798.0,6991.0,7318.0,8218.0,8158.0,7578.0,7070.0,6378.0,...,4549.0,3420.0,2657.0,1989.0,1362.0,1394.0,91518.0,U,2021,SE
151,Feminino,6432.0,6498.0,6563.0,7088.0,8223.0,8599.0,8364.0,7681.0,6855.0,...,5138.0,3972.0,3078.0,2361.0,1764.0,2222.0,97114.0,U,2021,SE

In [13]:
# Salva o DataFrame em um arquivo CSV
base_final.to_csv('base_populacao.csv', index=False)