**Bibliotecas**

In [1]:
#pip install xlrd

# Selecionandos municipio e estado do semiario

* **Base com Códigos do municipio, tipologia e estado**

Fonte: https://www.ibge.gov.br/explica/codigos-dos-municipios.php essa fonte não tem a tipologia, mas na pasta tem um arquivo com a tipologia dos municipios

In [2]:
import pandas as pd
TIPOCOMPLETO = pd.read_excel('Tipologia_municipal_rural_urbano.xlsx', sheet_name='Tipologia_munic_rural_urbano')  
TIPOCOMPLETO

,NM_UF,SIG_UF,CD_GCMUN,NM_MUN,TIPO
0,Rondônia,RO,1100015,Alta Floresta D´Oeste,IntermediarioAdjacente
1,Rondônia,RO,1100023,Ariquemes,Urbano
2,Rondônia,RO,1100031,Cabixi,RuralAdjacente
3,Rondônia,RO,1100049,Cacoal,Urbano
4,Rondônia,RO,1100056,Cerejeiras,Urbano
...,...,...,...,...,...
5560,Goiás,GO,5222005,Vianópolis,RuralAdjacente
5561,Goiás,GO,5222054,Vicentinópolis,IntermediarioAdjacente
5562,Goiás,GO,5222203,Vila Boa,RuralAdjacente
5563,Goiás,GO,5222302,Vila Propício,RuralAdjacente
5564,Distrito Federal,DF,5300108,Brasília,Urbano

* **Municipios do semiario**

Fonte: https://www.ibge.gov.br/geociencias/cartas-e-mapas/mapas-regionais/15974-semiarido-brasileiro.html#:~:text=Sobre%20a%20publica%C3%A7%C3%A3o%20%2D%202022,delimita%C3%A7%C3%A3o%20anterior%20e%20foram%20confirmados.

In [3]:
# Carregue seu arquivo com os códigos e nomes dos municípios
# Substitua 'caminho_seu_arquivo.csv' pelo caminho correto do seu arquivo com os códigos e nomes dos municípios
municipios_semiario = pd.read_excel('lista_municipios_Semiarido_2022.xls')
municipios_semiario

       CD_MUN              municipio
0     2100154  ÁGUA DOCE DO MARANHÃO
1     2100907               Araioses
2     2101509        BARÃO DE GRAJAÚ
3     2102101                  BREJO
4     2102200                 BURITI
...       ...                    ...
1472  3202108             ECOPORANGA
1473  3202702               ITAGUAÇU
1474  3202900                ITARANA
1475  3203304           MANTENÓPOLIS
1476  3203502               MONTANHA

[1477 rows x 2 columns]

### Adicionando a tipologia aos municipios do Semiario

In [4]:
# transforma o código no formato correto para fazer o merge 
TIPOCOMPLETO['CD_GCMUN'] = TIPOCOMPLETO['CD_GCMUN'].astype(int)

# Junte os DataFrames utilizando o código do município como chave
com_a_tipologia = municipios_semiario.merge(TIPOCOMPLETO[['CD_GCMUN','NM_UF','SIG_UF','TIPO']], 
                                           left_on='CD_MUN', right_on='CD_GCMUN', how='left')

com_a_tipologia.info() # verificar se algum municipio ficou sem o nome da UF 

municipios_semiario_BR = com_a_tipologia.drop('CD_GCMUN', axis=1) # Excluindo coluna duplicada
municipios_semiario_BR.columns = ['codigo', 'Municipio', 'Estado', 'UF','Tipo'] # renomeando as colunas 
municipios_semiario_BR.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1477 entries, 0 to 1476
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CD_MUN     1477 non-null   int64
 1   municipio  1477 non-null   object
 2   CD_GCMUN   1477 non-null   int32
 3   NM_UF      1477 non-null   object
 4   SIG_UF     1477 non-null   object
 5   TIPO       1477 non-null   object
dtypes: int32(1), int64(1), object(4)
memory usage: 75.0+ KB

    codigo              Municipio    Estado  UF            Tipo
0  2100154  ÁGUA DOCE DO MARANHÃO  Maranhão  MA  RuralAdjacente
1  2100907               Araioses  Maranhão  MA  RuralAdjacente
2  2101509        BARÃO DE GRAJAÚ  Maranhão  MA          Urbano
3  2102101                  BREJO  Maranhão  MA  RuralAdjacente
4  2102200                 BURITI  Maranhão  MA  RuralAdjacente

instale a biblioteca para tratar os nomes dos municipios: (obs: apenas se não tiver a biblioteca instalada)

In [5]:
#pip install unidecode

In [6]:
# bibliotecas
import pandas as pd
from unidecode import unidecode

# Função para remover a acentuação e converter para maiúsculas
def remover_acentos(texto):
    return unidecode(texto).upper()

# Aplicar a função para a coluna "Municipio"
municipios_semiario_BR['Municipio'] = municipios_semiario_BR['Municipio'].apply(remover_acentos)
municipios_semiario_BR

,codigo,Municipio,Estado,UF,Tipo
0,2100154,AGUA DOCE DO MARANHAO,Maranhão,MA,RuralAdjacente
1,2100907,ARAIOSES,Maranhão,MA,RuralAdjacente
2,2101509,BARAO DE GRAJAU,Maranhão,MA,Urbano
3,2102101,BREJO,Maranhão,MA,RuralAdjacente
4,2102200,BURITI,Maranhão,MA,RuralAdjacente
...,...,...,...,...,...
1472,3202108,ECOPORANGA,Espírito Santo,ES,RuralAdjacente
1473,3202702,ITAGUACU,Espírito Santo,ES,RuralAdjacente
1474,3202900,ITARANA,Espírito Santo,ES,RuralAdjacente
1475,3203304,MANTENOPOLIS,Espírito Santo,ES,RuralAdjacente
1476,3203502,MONTANHA,Espírito Santo,ES,IntermediarioAdjacente

In [7]:
# Se precisar salve o df em um arquivo :
#municipios_semiario_BR.to_excel('municipios_semiario_BR.xlsx', index=False)

# EXTRAINDO BASE DO DATASUS

In [8]:
html = pd.read_excel('html.xlsx')  
html

             <OPTION VALUE="1"> MUNICIPIO IGNORADO - RO
0         <OPTION VALUE="2">110001 ALTA FLORESTA D'O...
1                    <OPTION VALUE="3">110002 ARIQUEMES
2                       <OPTION VALUE="4">110003 CABIXI
3                       <OPTION VALUE="5">110004 CACOAL
4                   <OPTION VALUE="6">110005 CEREJEIRAS
...                                                 ...
5591         <OPTION VALUE="5593">522205 VICENTINOPOLIS
5592               <OPTION VALUE="5594">522220 VILA BOA
5593          <OPTION VALUE="5595">522230 VILA PROPICIO
5594      <OPTION VALUE="5596"> MUNICIPIO IGNORADO - DF
5595               <OPTION VALUE="5597">530010 BRASILIA

[5596 rows x 1 columns]

In [9]:
import pandas as pd
import re

def splitterv2(df):
    nomes = []
    codigo = []
    index = []

    for i in range(len(df)):
        temp = re.split("=", df.iloc[i, 0])[1]
        index_val = re.split(">", temp)[0].strip('"')  # Remover as aspas do índice
        nomes_val = re.split(" ", re.split(">", temp)[1], maxsplit=1)[1]
        codigo_val = re.split(" ", re.split(">", temp)[1], maxsplit=1)[0]

        index.append(index_val)
        nomes.append(nomes_val)
        codigo.append(codigo_val)

    data = pd.DataFrame({'index': index, 'nomes': nomes, 'codigo': codigo})
    data['index'] = pd.to_numeric(data['index'], errors='coerce')
    data['codigo'] = pd.to_numeric(data['codigo'], errors='coerce')
    data = data.dropna(subset=['codigo'])
    data['codigo'] = data['codigo'].astype(int)
    data['index'] = data['index'].astype(object)


    return data

data = splitterv2(html)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5595
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   5570 non-null   object
 1   nomes   5570 non-null   object
 2   codigo  5570 non-null   int32
dtypes: int32(1), object(2)
memory usage: 152.3+ KB

In [10]:
# ---- Foi observado que o código fonte da pagina usa 6 caracteres no código do municipio --------

# Ajustando a coluna 'codigo' para ter sempre 6 caracteres
municipios_semiario_BR['codigo'] = municipios_semiario_BR['codigo'].astype(str).str.zfill(6).str[:6]

#mudando o formato
municipios_semiario_BR['codigo'] = municipios_semiario_BR['codigo'].astype(int)

# Exibindo os primeiros registros após a modificação
municipios_semiario_BR.head()

   codigo              Municipio    Estado  UF            Tipo
0  210015  AGUA DOCE DO MARANHAO  Maranhão  MA  RuralAdjacente
1  210090               ARAIOSES  Maranhão  MA  RuralAdjacente
2  210150        BARAO DE GRAJAU  Maranhão  MA          Urbano
3  210210                  BREJO  Maranhão  MA  RuralAdjacente
4  210220                 BURITI  Maranhão  MA  RuralAdjacente

In [11]:
# Junte os DataFrames utilizando o código do município como chave

semiario_completo = municipios_semiario_BR.merge(data[['codigo','index','nomes']],
                                                 left_on='codigo', right_on='codigo', how='left')
semiario_completo # resultado

,codigo,Municipio,Estado,UF,Tipo,index,nomes
0,210015,AGUA DOCE DO MARANHAO,Maranhão,MA,RuralAdjacente,461,AGUA DOCE DO MARANHAO
1,210090,ARAIOSES,Maranhão,MA,RuralAdjacente,474,ARAIOSES
2,210150,BARAO DE GRAJAU,Maranhão,MA,Urbano,483,BARAO DE GRAJAU
3,210210,BREJO,Maranhão,MA,RuralAdjacente,495,BREJO
4,210220,BURITI,Maranhão,MA,RuralAdjacente,497,BURITI
...,...,...,...,...,...,...,...
1472,320210,ECOPORANGA,Espírito Santo,ES,RuralAdjacente,3140,ECOPORANGA
1473,320270,ITAGUACU,Espírito Santo,ES,RuralAdjacente,3150,ITAGUACU
1474,320290,ITARANA,Espírito Santo,ES,RuralAdjacente,3152,ITARANA
1475,320330,MANTENOPOLIS,Espírito Santo,ES,RuralAdjacente,3159,MANTENOPOLIS
1476,320350,MONTANHA,Espírito Santo,ES,IntermediarioAdjacente,3164,MONTANHA

-----------

## Separando por tipologia

In [12]:
# Substitua 'nome_da_coluna' pelo nome real da coluna que deseja verificar
valores_unicos = semiario_completo['Tipo'].unique()

# Exibindo os valores únicos presentes na coluna
print(valores_unicos)

['RuralAdjacente' 'Urbano' 'RuralRemoto' 'IntermediarioAdjacente'
 'IntermediarioRemoto']

In [13]:
# Substitua 'nome_da_coluna' pelo nome real da coluna que deseja verificar
valores_unicos = semiario_completo['UF'].unique()

# Exibindo os valores únicos presentes na coluna
print(valores_unicos)

['MA' 'PI' 'CE' 'RN' 'PB' 'PE' 'AL' 'SE' 'BA' 'MG' 'ES']

# Extraindo dados de mortalidade dos municipios que desejo

----------------------

Função que faz os cliques :

In [14]:
def rode_2():
    def select(opcao):
        sleep(2)
        if opcao == 1:
            driver.get("http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sim/cnv/ext10br.def") #ÓBITOS POR CAUSAS EXTERNAS
            driver.find_element(By.CSS_SELECTOR, "#fig1").click()
            driver.find_element(By.CSS_SELECTOR, "#S1 > option:nth-child(1)").click()
            for index in lista:
                driver.find_element(By.CSS_SELECTOR,"#S1 > option:nth-child(%s)" % index).click()
    
        elif opcao == 2:
            driver.get("http://tabnet.datasus.gov.br/cgi/deftohtm.exe?ibge/cnv/popsvsbr.def") #POPULAÇÃO RESIDENTE 
            driver.find_element(By.CSS_SELECTOR, "#fig3").click()
            driver.find_element(By.CSS_SELECTOR, "#S3 > option:nth-child(1)").click()
            for index in lista:
                driver.find_element(By.CSS_SELECTOR,"#S3 > option:nth-child(%s)" % index).click()

        elif opcao == 3:
            driver.get("http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sim/cnv/obt10br.def") # link de mortalidade 
            driver.find_element(By.CSS_SELECTOR, "#fig1").click()
            driver.find_element(By.CSS_SELECTOR, "#S1 > option:nth-child(1)").click()
            for index in lista:
                driver.find_element(By.CSS_SELECTOR, "#S1 > option:nth-child(%s)" % index).click()
            
        elif opcao == 2022:
            driver.get("http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sim/cnv/pobt10br.def") #dados de mortalidade préliminares 2022
            driver.find_element(By.CSS_SELECTOR, "#fig1").click()
            driver.find_element(By.CSS_SELECTOR, "#S1 > option:nth-child(1)").click()
            for index in lista:
                driver.find_element(By.CSS_SELECTOR,"#S1 > option:nth-child(%s)" % index).click()

Instale as bibliotecas necessarias: (apenas se não tiver instalado)

In [15]:
# pip install selenium and pandas

Para está etapa é necessario:

* adicionar o caminho que o navegado chrome está instalado na sua maquina
* 
* baixar o ChromeDriver (esse cara que vai gerenciar o que pedimos para ele  selecionar os municipios!)
baixe em : https://sites.google.com/chromium.org/driver/downloads?authuser=0
baixei clicando em: ChromeDriver 114.0.5735.90 (você pode baixar a versão mais recente)
escolha o sistema operacional em: https://chromedriver.storage.googleapis.com/index.html?path=114.0.5735.90/ (caso baixe a mesma versão que baixei)
* 
* depois de baixar, extraia a pasta em zip e copie o caminho da pasta ChromeDriver

In [16]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.firefox.options import Options
from time import sleep
import pandas as pd

from selenium import webdriver
from selenium.webdriver.chrome.options import Options


    # Configurando as opções do Chrome
    # informe aonde o seu chrome está baixado na sua maquina 
options = Options()
options.binary_location = r"C:\Program Files\Google\Chrome\Application\chrome.exe"  # Altere o caminho de acordo com o seu

# Especificando o caminho do ChromeDriver
chromedriver_path = r"C:\Users\Administrador\Documents\PIBIC\scrip\script_para_extrair_dados\chromedriver_win32\chromedriver.exe"  # Substitua pelo seu caminho do chromedriver.exe

# Adicionando o caminho do ChromeDriver diretamente às opções
options.add_argument(f"webdriver.chrome.driver={chromedriver_path}")

# Criando o driver do Chrome com as opções
driver = webdriver.Chrome(options=options)

# Agora você pode usar 'driver' para automatizar ações no Google Chrome

# ATENÇÃO : NÃO FECHE O NAVEGADOR QUE VAI ABRIR !

In [17]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
lista_urls = []
def select(opcao, ano):
    sleep(2)
    if opcao == 3:
        driver.get("http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sim/cnv/obt10br.def")  # link de mortalidade
        
    # seleciona os municipios ------------------------------------------------------
        driver.find_element(By.CSS_SELECTOR, "#fig1").click() # seleciona municípios
        driver.find_element(By.CSS_SELECTOR, "#S1 > option:nth-child(1)").click()  
        for index in lista:
            driver.find_element(By.CSS_SELECTOR, "#S1 > option:nth-child(%s)" % index).click()

        #driver.find_element(By.CSS_SELECTOR, "#L > option[value='Sexo']").click()  # seleciona linha: Sexo
        #driver.find_element(By.CSS_SELECTOR, "#C > option[value='Faixa_Etária_2']").click()  # seleciona coluna: Faixa etaria
       
    # seleciona o sexo -------------------------------------------------------------
        #driver.find_element(By.CSS_SELECTOR, "#fig23").click()
        #sexo_element = driver.find_element(By.CSS_SELECTOR, "#S23 > option[value='TODAS_AS_CATEGORIAS__']") # Desmarca todas as categorias
        #if sexo_element.is_selected():
        #    sexo_element.click() 

        #if sexo == 'F':
        #    driver.find_element(By.CSS_SELECTOR, "#S23 > option[value='2']").click() # Feminino
        #elif sexo == 'M':
        #    driver.find_element(By.CSS_SELECTOR, "#S23 > option[value='1']").click() # masculino
            
    # seleciona o ano -------------------------------------------------------------
        ano_2022_element = driver.find_element(By.CSS_SELECTOR, "#A > option[value='obtbr22.dbf']") # Desmarca o ano 2022
        if ano_2022_element.is_selected():
            ano_2022_element.click()

        if ano == 2018:
            driver.find_element(By.CSS_SELECTOR, "#A > option[value='obtbr18.dbf']").click()
        elif ano == 2021:
            driver.find_element(By.CSS_SELECTOR, "#A > option[value='obtbr21.dbf']").click()
        elif ano == 2022:
            driver.find_element(By.CSS_SELECTOR, "#A > option[value='obtbr22.dbf']").click()

            
    # clica no botão mostrar Mostra
        driver.find_element(By.CSS_SELECTOR, "input[name='mostre']").click()
        lista_urls.append(driver.current_url)

In [18]:
semiario_completo

,codigo,Municipio,Estado,UF,Tipo,index,nomes
0,210015,AGUA DOCE DO MARANHAO,Maranhão,MA,RuralAdjacente,461,AGUA DOCE DO MARANHAO
1,210090,ARAIOSES,Maranhão,MA,RuralAdjacente,474,ARAIOSES
2,210150,BARAO DE GRAJAU,Maranhão,MA,Urbano,483,BARAO DE GRAJAU
3,210210,BREJO,Maranhão,MA,RuralAdjacente,495,BREJO
4,210220,BURITI,Maranhão,MA,RuralAdjacente,497,BURITI
...,...,...,...,...,...,...,...
1472,320210,ECOPORANGA,Espírito Santo,ES,RuralAdjacente,3140,ECOPORANGA
1473,320270,ITAGUACU,Espírito Santo,ES,RuralAdjacente,3150,ITAGUACU
1474,320290,ITARANA,Espírito Santo,ES,RuralAdjacente,3152,ITARANA
1475,320330,MANTENOPOLIS,Espírito Santo,ES,RuralAdjacente,3159,MANTENOPOLIS
1476,320350,MONTANHA,Espírito Santo,ES,IntermediarioAdjacente,3164,MONTANHA

In [19]:
# Quantidade de municipios 
len(semiario_completo)

1477

In [20]:
lista = semiario_completo
lista = lista['index'] + 1

select(3,2022)

Após essa ultima celula de código acima, vai abrir o navegador e então é só baixar. Em seguida, vamos abrir o arquivo baixado:

In [22]:
#Carrega o arquivo Excel
# Caminho correto para o arquivo no Windows
caminho_arquivo = r'C:\Users\Administrador\Documents\Mortalidade_no_semiarido\PIBIC\_SCHENIA_2023_2024\2_dados extraidos\obito_municipios_2022_semiarido_completo.csv'

mortalidade_municipio_2022 = pd.read_csv(caminho_arquivo,delimiter=';', header=0, skiprows=4, encoding='ISO-8859-1')
mortalidade_municipio_2022 = mortalidade_municipio_2022.drop(mortalidade_municipio_2022.tail(8).index) # Excluir as 9 últimas linhas usando o método drop
mortalidade_municipio_2022

                         Município  Óbitos_p/Residênc
0     210015 AGUA DOCE DO MARANHAO               78.0
1                  210090 ARAIOSES              242.0
2           210150 BARAO DE GRAJAU              138.0
3                     210210 BREJO              199.0
4                    210220 BURITI              151.0
...                            ...                ...
1472             320210 ECOPORANGA              175.0
1473               320270 ITAGUACU              143.0
1474                320290 ITARANA               80.0
1475           320330 MANTENOPOLIS              114.0
1476               320350 MONTANHA              179.0

[1477 rows x 2 columns]

In [29]:
# Separar o código do município da coluna 'Município' no mortalidade_municipio_seminario
mortalidade_municipio_2022['codigo'] = mortalidade_municipio_2022['Município'].str.split().str[0].astype(int)

# Realizar o merge dos DataFrames usando a coluna 'codigo'
df_unico = pd.merge(mortalidade_municipio_2022, semiario_completo, on='codigo', how='inner')

# Selecionar colunas específicas
colunas_desejadas = ['codigo','Municipio', 'Óbitos_p/Residênc', 'Estado', 'UF', 'Tipo']
mortalidade_municipio_semiarido_2022 = df_unico[colunas_desejadas]

# Exibir o DataFrame resultante
mortalidade_municipio_semiarido_2022

,codigo,Municipio,Óbitos_p/Residênc,Estado,UF,Tipo
0,210015,AGUA DOCE DO MARANHAO,78.0,Maranhão,MA,RuralAdjacente
1,210090,ARAIOSES,242.0,Maranhão,MA,RuralAdjacente
2,210150,BARAO DE GRAJAU,138.0,Maranhão,MA,Urbano
3,210210,BREJO,199.0,Maranhão,MA,RuralAdjacente
4,210220,BURITI,151.0,Maranhão,MA,RuralAdjacente
...,...,...,...,...,...,...
1472,320210,ECOPORANGA,175.0,Espírito Santo,ES,RuralAdjacente
1473,320270,ITAGUACU,143.0,Espírito Santo,ES,RuralAdjacente
1474,320290,ITARANA,80.0,Espírito Santo,ES,RuralAdjacente
1475,320330,MANTENOPOLIS,114.0,Espírito Santo,ES,RuralAdjacente
1476,320350,MONTANHA,179.0,Espírito Santo,ES,IntermediarioAdjacente

## Agora extraindo dados de população residente em 2022 por municipios

A base foi encontrada em: https://basedosdados.org/dataset/08a1546e-251f-4546-9fe0-b1e6ab2b203d?table=a886aa3c-cfe3-4885-a40c-54dab2f0cdd0 

9514 - População residente, por município

In [38]:
caminho_arquivo1 = r'C:\Users\Administrador\Documents\Mortalidade_no_semiarido\PIBIC\_SCHENIA_2023_2024\2_dados extraidos\populacao_residente_municipios_2022.csv'

populacao_municipio_2022 = pd.read_csv(caminho_arquivo1,delimiter=';') # abrir o arquivo 
populacao_municipio_2022 = populacao_municipio_2022.iloc[:, :2] # deixa apenas as duas primeiras colunas
populacao_municipio_2022 = populacao_municipio_2022.dropna(how='all') # exclui as linhas com NaN 
populacao_municipio_2022['id_municipio'] = populacao_municipio_2022['id_municipio'].astype(int) # tranforma em inteiro 
populacao_municipio_2022['SUM de populacao_residente'] = populacao_municipio_2022['SUM de populacao_residente'].astype(int) # tranforma em inteiro 

# Supondo que você queira renomear a coluna 'antigo_nome' para 'novo_nome'
populacao_municipio_2022 = populacao_municipio_2022.rename(columns={'id_municipio': 'codigo'})
populacao_municipio_2022 = populacao_municipio_2022.rename(columns={'SUM de populacao_residente': 'populacao_residente'})


populacao_municipio_2022

       codigo  populacao_residente
0     1100015                21493
1     1100023                96828
2     1100031                 5351
3     1100049                86875
4     1100056                15890
...       ...                  ...
5565  5222005                14953
5566  5222054                 8767
5567  5222203                 4214
5568  5222302                 5815
5569  5300108              2817081

[5570 rows x 2 columns]

In [43]:
# Ajustando a coluna 'codigo' para ter sempre 6 caracteres
populacao_municipio_2022['codigo'] = populacao_municipio_2022['codigo'].astype(str).str.zfill(6).str[:6]
populacao_municipio_2022['codigo'] = populacao_municipio_2022['codigo'].astype(int) #mudando o formato

In [45]:
# Realizar o merge dos DataFrames usando a coluna 'codigo'
base_mortalidade_semiarido_2022 = pd.merge(populacao_municipio_2022, mortalidade_municipio_semiarido_2022,on='codigo', how='inner')
base_mortalidade_semiarido_2022['Óbitos_p/Residênc'] = base_mortalidade_semiarido_2022['Óbitos_p/Residênc'].astype(int) #mudando o formato
base_mortalidade_semiarido_2022

,codigo,populacao_residente,Municipio,Óbitos_p/Residênc,Estado,UF,Tipo
0,210015,12137,AGUA DOCE DO MARANHAO,78,Maranhão,MA,RuralAdjacente
1,210090,39040,ARAIOSES,242,Maranhão,MA,RuralAdjacente
2,210150,18979,BARAO DE GRAJAU,138,Maranhão,MA,Urbano
3,210210,34111,BREJO,199,Maranhão,MA,RuralAdjacente
4,210220,29672,BURITI,151,Maranhão,MA,RuralAdjacente
...,...,...,...,...,...,...,...
1472,320210,21983,ECOPORANGA,175,Espírito Santo,ES,RuralAdjacente
1473,320270,13584,ITAGUACU,143,Espírito Santo,ES,RuralAdjacente
1474,320290,10596,ITARANA,80,Espírito Santo,ES,RuralAdjacente
1475,320330,12766,MANTENOPOLIS,114,Espírito Santo,ES,RuralAdjacente
1476,320350,18893,MONTANHA,179,Espírito Santo,ES,IntermediarioAdjacente

## Taxa de mortalidade Bruta

In [47]:
base_mortalidade_semiarido_2022["taxa_bruta_mortalidade"] = (base_mortalidade_semiarido_2022["Óbitos_p/Residênc"]/base_mortalidade_semiarido_2022["populacao_residente"])*1000 
base_mortalidade_semiarido_2022

,codigo,populacao_residente,Municipio,Óbitos_p/Residênc,Estado,UF,Tipo,taxa_bruta_mortalidade
0,210015,12137,AGUA DOCE DO MARANHAO,78,Maranhão,MA,RuralAdjacente,6.426629
1,210090,39040,ARAIOSES,242,Maranhão,MA,RuralAdjacente,6.198770
2,210150,18979,BARAO DE GRAJAU,138,Maranhão,MA,Urbano,7.271194
3,210210,34111,BREJO,199,Maranhão,MA,RuralAdjacente,5.833895
4,210220,29672,BURITI,151,Maranhão,MA,RuralAdjacente,5.088973
...,...,...,...,...,...,...,...,...
1472,320210,21983,ECOPORANGA,175,Espírito Santo,ES,RuralAdjacente,7.960697
1473,320270,13584,ITAGUACU,143,Espírito Santo,ES,RuralAdjacente,10.527091
1474,320290,10596,ITARANA,80,Espírito Santo,ES,RuralAdjacente,7.550019
1475,320330,12766,MANTENOPOLIS,114,Espírito Santo,ES,RuralAdjacente,8.929970
1476,320350,18893,MONTANHA,179,Espírito Santo,ES,IntermediarioAdjacente,9.474409

## Adicionando essas informações do banco de dados de condições de vida

In [50]:
#Carrega o arquivo Excel
# Caminho correto para o arquivo no Windows
caminho_arquivo = r'C:\Users\Administrador\Documents\Mortalidade_no_semiarido\PIBIC\_SCHENIA_2023_2024\2_dados extraidos\Condição de vida\condição_de_vida_semiarido_2022.xlsx'

condicao_vida = pd.read_excel(caminho_arquivo)
condicao_vida = condicao_vida.iloc[:, :4]
condicao_vida

       Codigo                 NM_MUN  taxa_analfabetismo  rede_de_esgoto
0     2100154  AGUA DOCE DO MARANHAO               25.70            0.06
1     2100907               ARAIOSES               27.62            0.10
2     2101509        BARAO DE GRAJAU               16.52            0.85
3     2102101                  BREJO               23.18            0.78
4     2102200                 BURITI               23.64             NaN
...       ...                    ...                 ...             ...
1472  3202108             ECOPORANGA               14.16           51.05
1473  3202702               ITAGUACU                8.42           52.08
1474  3202900                ITARANA                7.39           41.50
1475  3203304           MANTENOPOLIS               13.85           57.28
1476  3203502               MONTANHA               12.42           78.78

[1477 rows x 4 columns]

## Arquivo Final de condição de vida com a taxa de mortalidade bruta

In [52]:
# Ajustando a coluna 'codigo' para ter sempre 6 caracteres
condicao_vida = condicao_vida.rename(columns={'Codigo': 'codigo'})
condicao_vida['codigo'] = condicao_vida['codigo'].astype(str).str.zfill(6).str[:6]
condicao_vida['codigo'] = condicao_vida['codigo'].astype(int) #mudando o formato

In [53]:
# Realizar o merge dos DataFrames usando a coluna 'codigo'
condicao_vida_basecompleta = pd.merge(base_mortalidade_semiarido_2022, condicao_vida,on='codigo', how='inner')
condicao_vida_basecompleta

,codigo,populacao_residente,Municipio,Óbitos_p/Residênc,Estado,UF,Tipo,taxa_bruta_mortalidade,NM_MUN,taxa_analfabetismo,rede_de_esgoto
0,210015,12137,AGUA DOCE DO MARANHAO,78,Maranhão,MA,RuralAdjacente,6.426629,AGUA DOCE DO MARANHAO,25.70,0.06
1,210090,39040,ARAIOSES,242,Maranhão,MA,RuralAdjacente,6.198770,ARAIOSES,27.62,0.10
2,210150,18979,BARAO DE GRAJAU,138,Maranhão,MA,Urbano,7.271194,BARAO DE GRAJAU,16.52,0.85
3,210210,34111,BREJO,199,Maranhão,MA,RuralAdjacente,5.833895,BREJO,23.18,0.78
4,210220,29672,BURITI,151,Maranhão,MA,RuralAdjacente,5.088973,BURITI,23.64,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1472,320210,21983,ECOPORANGA,175,Espírito Santo,ES,RuralAdjacente,7.960697,ECOPORANGA,14.16,51.05
1473,320270,13584,ITAGUACU,143,Espírito Santo,ES,RuralAdjacente,10.527091,ITAGUACU,8.42,52.08
1474,320290,10596,ITARANA,80,Espírito Santo,ES,RuralAdjacente,7.550019,ITARANA,7.39,41.50
1475,320330,12766,MANTENOPOLIS,114,Espírito Santo,ES,RuralAdjacente,8.929970,MANTENOPOLIS,13.85,57.28
1476,320350,18893,MONTANHA,179,Espírito Santo,ES,IntermediarioAdjacente,9.474409,MONTANHA,12.42,78.78

In [54]:
# Salvando df com a base completa das condições de vida 
condicao_vida_basecompleta.to_csv(r'C:\Users\Administrador\Documents\Mortalidade_no_semiarido\PIBIC\_SCHENIA_2023_2024\2_dados extraidos\basecompletacondição_de_vida_semiarido_2022.csv', index=False)